body{

  display: flex;
  justify-content: center;
  align-items: center;
}


.App{

  position: absolute;
  top:30%;
  left:50%;
  transform: translate(-50%,-50%);

}


input[type="text"]{
height:30px;
  width:300px;
border-radius: 10px;
  border: 1px solid;
}

button{
margin-left:10px;
  height:35px;
  border-radius: 10px;
  color:aliceblue;
  font-weight:bolder;
  background: linear-gradient(to right, rgb(255, 7, 7), rgb(3, 3, 0) 50%, rgb(241, 55, 55));
}


.del{

  /* margin-left: 10px;
color: aliceblue;
  height: 2em;
font-size: 1em;;
  padding: 0.5em;
background-color: red; */
margin-left:10px;
height: 35px;;
width:auto;
border-radius: 10px;
color:aliceblue;
font-weight:bolder;
background: linear-gradient(to right, rgb(255, 7, 7), rgb(3, 3, 0) 50%, rgb(241, 55, 55));

  transition: all 0.2s ease;
}

.del:hover{

  background-color: darkcyan;
}
.list ul{

  list-style: none;
  padding: 0;
}
.list li{
  margin-bottom: 5px;

  
}

.list .todo-list li:last-child {
  margin-bottom: 9px;
}